<div class="container">
  <div class="restaurants">
  <div class="heading"><h2>Restaurants in your area!</h2></div>
  <% if @restaurants %>
    <ul class="restaurant-list">
      <% @restaurants.each do |restaurant| %>
      <li class="restaurant-name"><a href="restaurants/<%= restaurant.id %>"><%= restaurant.name %></a> <span class="rating"> Average rating: <%= restaurant.reviews.count > 0 ? restaurant.reviews.sum(:stars)/restaurant.reviews.count : "No reviews" %></span></li>
      <li class="description"><%= restaurant.description %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>
